/* CSS Document  */
/* Project name: TP SASS */
/* File name: styles.css */
/* Description: Hoja de estilos global */
/* Creation date: Abril de 2016 */
/* Author: Name Lastname */
/* Author's eMail: username@server.com */
@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
* {
  box-sizing: border-box; }

body {
  font-family: "Poppins", sans-serif;
  margin: 0; }

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

figure {
  margin: 0;
  line-height: 0; }
  figure img {
    width: 100%; }

input, textarea, button {
  border: none;
  font-family: inherit; }

/********************************* */
/*=========     GLOBAL   ========= */
/********************************* */
.wrapper {
  width: 97%;
  max-width: 1200px;
  margin: auto; }

.red-button {
  display: block;
  margin: 25px auto 0;
  background-color: #d32f2f;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 15px;
  max-width: 85%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 0 8px #000;
  -webkit-box-shadow: 0 0 8px #000; }
  .red-button:hover {
    background-color: #811b1b;
    /*background-color: lighten($main-color,20) */ }

.subtitle {
  text-align: center;
  font-family: "Montserrat";
  font-size: 24px;
  margin-top: 0; }
  .subtitle + p {
    color: #919191;
    text-align: center;
    font-size: 15px;
    padding: 0 15px; }

.separator {
  margin: auto;
  height: 3px;
  background-color: #333333;
  width: 45px; }

#we-do, #our-projects, #clients, #contact {
  padding: 70px 0; }

/********************************* */
/*=========     HEADER   ========= */
/********************************* */
header {
  padding: 15px; }

.logo {
  display: inline-block;
  max-width: 120px; }

#toggle {
  display: none; }
  #toggle:checked ~ nav {
    width: 100vw; }

.toggle-button {
  float: right;
  margin-top: 15px; }

nav {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #333333;
  width: 0;
  height: 100vh;
  overflow: hidden;
  transition: 500ms;
  -ms-transition: 500ms;
  -webkit-transition: 500ms; }
  nav li {
    color: #fff;
    border-bottom: solid 1px #fff;
    position: relative; }
    nav li label {
      position: absolute;
      right: 15px;
      top: 15px; }
  nav a {
    display: block;
    font-size: 15px;
    padding: 15px; }

/********************************* */
/*=========     BANNER   ========= */
/********************************* */
.banner {
  min-height: 550px;
  background: url(../images/bg-banner.jpg) center center;
  text-align: center;
  padding-top: 150px;
  color: #fff; }
  .banner h1 {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 30px;
    margin: 0; }
  .banner p {
    font-size: 15px;
    margin: 10px 0; }

/************************************** */
/*=========     WHAT-WE-DO    ========= */
/************************************** */
.services article {
  margin: 40px 5% 0;
  position: relative; }

.red-ball {
  width: 60px;
  height: 60px;
  display: block;
  background-color: #d32f2f;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #fff;
  font-size: 22px;
  position: absolute;
  left: 0;
  top: 0; }

.service-text {
  padding-left: 70px; }
  .service-text h2 {
    margin-top: 0;
    font-size: 19px; }
  .service-text p {
    font-size: 15px;
    color: #333333; }

/**************************************** */
/*=========     OUR-PROJECTS    ========= */
/**************************************** */
#out-projects {
  background-color: #f7f7f7; }

.project-list figure {
  margin: 40px 5% 0;
  box-shadow: 0 0 10px #333;
  -webkit-box-shadow: 0 0 10px #333;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  overflow: hidden;
  position: relative; }
  .project-list figure div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 600ms;
    -ms-transition: 600ms;
    -webkit-transition: 600ms; }
    .project-list figure div:hover {
      background-color: rgba(0, 0, 0, 0.5); }
      .project-list figure div:hover span {
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1); }
    .project-list figure div span {
      width: 40px;
      height: 40px;
      background-color: #d32f2f;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      text-align: center;
      line-height: 40px;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -20px;
      transform: scale(0);
      -ms-transform: scale(0);
      -webkit-transform: scale(0);
      transition: 600ms;
      -ms-transition: 600ms;
      -webkit-transition: 600ms; }

/****************************************** */
/*=========     CALL-TO-ACTION    ========= */
/****************************************** */
.call-to-action {
  background: url(../images/bg-data-contact.jpg) center top/cover;
  text-align: center;
  min-height: 550px;
  padding: 15px; }
  .call-to-action h3 {
    color: #f7f7f7;
    font-size: 26px;
    font-family: "Montserrat";
    font-weight: 600;
    margin-top: 100px; }
    .call-to-action h3 span {
      color: #d32f2f; }

/*********************************** */
/*=========     CLIENTS    ========= */
/*********************************** */
#clients {
  margin-top: 50px; }

.testimonies p {
  /*border: solid 1px red */
  margin: 60px 20px 10px;
  padding: 20px 25px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Montserrat";
  color: #333333;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 0 6px #000;
  -webkit-box-shadow: 0 0 6px #000; }
.testimonies b {
  color: #333333;
  font-weight: 600;
  font-size: 18px;
  margin-left: 20px;
  font-family: "Montserrat";
  letter-spacing: 2px; }
.testimonies i {
  color: #d32f2f;
  font-family: "Montserrat";
  font-style: normal;
  letter-spacing: 2px; }

/**************************************** */
/*=========     SOCIAL-LINKS    ========= */
/**************************************** */
.social-links {
  margin: 100px 0 50px; }
  .social-links li {
    display: inline-block;
    width: 30%;
    height: 120px;
    border: solid 1px #1b1b1b; }
    .social-links li i {
      font-family: "Montserrat";
      font-style: normal;
      font-size: 20px;
      font-weight: 700;
      color: #f7f7f7;
      letter-spacing: 0; }

/********************************** */
/*=========     CONTACT    ========= */
/*********************************** */
#contact {
  background-color: #f7f7f7;
  margin-top: 70px; }
  #contact form {
    padding: 50px 30px; }
    #contact form .subtitle {
      text-align: left; }
      #contact form .subtitle + p {
        text-align: left;
        padding: 0; }
    #contact form input, #contact form textarea {
      display: block;
      width: 100%;
      height: 50px;
      font-size: 16px;
      margin-top: 20px;
      background-color: transparent;
      border-bottom: solid 2px #ddd;
      color: #333;
      transition: 300ms;
      -ms-transition: 300ms;
      -webkit-transition: 300ms; }
      #contact form input:focus, #contact form textarea:focus {
        border-bottom-color: #d32f2f;
        color: #d32f2f; }
    #contact form textarea {
      height: 120px;
      min-height: 120px;
      resize: vertical;
      overflow: hidden; }
    #contact form .red-button {
      font-size: 16px;
      margin: 20px 0 0;
      padding: 10px; }

.map {
  position: relative;
  height: 300px; }
  .map iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: none; }
  .map div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 85%; }

/********************************** */
/*=========     FOOTER    ========= */
/********************************** */
footer p {
  font-family: "Montserrat";
  font-size: 16px;
  text-align: center;
  font-weight: 600; }
  footer p em {
    color: #d32f2f;
    font-style: normal; }
footer a {
  font-family: "Montserrat";
  font-size: 16px;
  text-align: center;
  margin-left: 35%; }

/***************************************** */
/*=========     MEDIA-QUERIES    ========= */
/***************************************** */
@media (min-width: 560px) {
  .red-button {
    float: left;
    margin: 25px 5% 0;
    padding: 15px;
    width: 40%; }

  .subtitle {
    font-size: 30px; }
    .subtitle + p {
      font-size: 18px; }

  .service-text h2 {
    font-size: 23px; }
  .service-text p {
    font-size: 18px; }

  .project-list {
    margin: 30px; }
    .project-list figure {
      border: dotted 1px green;
      width: 40%;
      float: left;
      margin: 15px 25px; }
    .project-list:after {
      content: "";
      display: block;
      clear: both; }

  .testimonies p {
    font-size: 22px;
    font-weight: 500; }
  .testimonies b {
    font-size: 22px; }

  .call-to-action {
    max-height: 350px; }
    .call-to-action h3 {
      font-size: 30px;
      margin-top: 200px; }

  .social-links {
    margin: 150px 0 50px; }
    .social-links li {
      width: 18%;
      height: 120px; } }
@media (min-width: 800px) {
  .logo {
    margin-left: 45%; }

  #toggle {
    display: none; }
    #toggle:checked ~ nav {
      display: none; }

  .toggle-button {
    display: none; }

  nav {
    position: relative;
    left: none;
    top: none;
    background-color: #fff;
    width: 100%;
    height: 50px;
    overflow: none;
    transition: 500ms;
    -ms-transition: 500ms;
    -webkit-transition: 500ms; }
    nav li {
      color: #333;
      border-top: solid 2px #333;
      border-bottom: solid 1px #fff;
      position: none;
      float: right; }

  .fa-close {
    display: none; }

  .services article {
    width: 40%;
    float: left; }
  .services:after {
    content: "";
    display: block;
    clear: both; }

  .call-to-action {
    height: 200px; }
    .call-to-action .social-links {
      margin: 150px 0 50px; }
      .call-to-action .social-links li {
        width: 12%;
        height: 120px; } }
@media (min-width: 1100px) {
  .project-list {
    margin: 30px; }
    .project-list figure {
      border: dotted 1px green;
      width: 18%;
      float: left;
      margin: 15px 25px; }
    .project-list:after {
      content: "";
      display: block;
      clear: both; }

  .testimonies article {
    float: left;
    width: 31%; }
  .testimonies:after {
    content: "";
    display: block;
    clear: both; }

  #contact .map {
    float: left;
    width: 50%;
    height: 625px; }
  #contact form {
    display: inline-block;
    float: left;
    width: 50%; }
  #contact:after {
    content: "";
    display: block;
    clear: both; }

  footer {
    border: solid 1px red; }
    footer p {
      font-size: 18px;
        font-size-color: #d32f2f;
        font-size-font-style: normal; }
    footer a {
      display: inline-block;
      font-size: 18px;
      margin: -10px 44% 20px;
      border: solid 1px red; } }

/*# sourceMappingURL=styles.css.map */
